<div class="classroom-home-header" >

    <div class="classroom-home-left-icons" >

        <div  class="pi-bar-wrapper ripple">
            <div>
                <a>
                    <p class="pi pi-bars"  style="font-size: 1rem"></p>
                </a>
            </div>
        
        </div>


            <div class="header-img-logo">
                <img src="assets\logo_square_rounded.svg" style="height: 28px;width: 28px;" alt="Logo Description">
            </div>

            <div class="header-classroom-title">
                <p class="home-title">Classroom</p>
            </div>

            <div style="margin-top: 5px;" class="header-arrow">
                <svg focusable="false" width="18" height="18" viewBox="0 0 24 24" class=" NMm5M hhikbc"><path fill="#5f6368" d="M7.59 18.59L9 20l8-8-8-8-1.41 1.41L14.17 12"></path></svg>
            </div>

            <div class="header-room-title">
               <a>
                <span class="YVvGBb z3vRcc-J3yWx Pce5Kb">
                    PLACEMENT 2023 PASSOUT
                </span>
               </a>
            </div>
    </div>  
    

    <!-- <-- right section --> 

 <div style="display: flex">


    <div class="profile" style="margin-top: 15px;margin-right: 30px;height: 35px;width: 35px;border-radius: 50%;
    cursor: pointer;">

     <img  [src]="" alt="profile-photo" height="35px" width="35px" style="border-radius: 50%;"/>
   
  
    </div>

 </div>

</div>    
