.stream-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: 100vh;
    // background-color: blue;
}
.stream-banner{
    width: 1000px;
    height: 15rem;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://gstatic.com/classroom/themes/img_learnlanguage.jpg");
}
.YrFhrf-ZoZQ1 {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 2.75rem;
    color: #fff;
}
