.sidebar-header-profile{
    display: flex;
    

}
.sidebar-header-text{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.asQXV{
    letter-spacing: .01785714em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
}
.YVvGBb{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
.dDKhVc{
    letter-spacing: .025em;
    font-family: Roboto, Arial, sans-serif;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1rem;
    color: #5f6368;
}
.body-first-section{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}
.body-home-section{
  display: flex;
  align-items: center;

}
.body-home-section-enrolled{
    display: flex;
    align-items: center;
    margin-left: 6px;
}
.body-calender-section{
   display: flex;
   align-items: center;
   margin-top: 10px;
}
.pkktJb {
    // align-items: center;
    display: flex;
    height: 2.5rem;
    // padding-left: 1rem;
    padding-right: 1rem;
}