.text-area{
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding-left: 120px;
    // padding-right: 120px;
}
.title-desc-area{
    max-width: 60rem;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
    // min-width: 0;
    // overflow: visible;
    padding: 1.5rem;
    padding-bottom: 0.5rem;
    background-color: #fff;
    border: .0625rem solid #dadce0;
    border-radius: .5rem;
    height: 300px;

}
.attachments-div{
    width: 100%;
    box-sizing: border-box;
    min-width: 0;
    overflow: visible;
    padding: 1.5rem;
    padding-bottom: 0.5rem;
    background-color: #fff;
    border: .0625rem solid #dadce0;
    border-radius: .5rem;
    height: 170px;

}
.right-sec-for{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}